.butt {
	color:var(--text-color);
	font-size:22pt;
	font-weight:bold;
	padding:10px;
	margin:10px;
	border:none;
	border-radius:10px;
	cursor:pointer;
}

.butt:hover, .butt:focus {
	box-shadow:5px 5px 10px #dfdfdf;
	outline:none;
}

.outline-button {
	background-color:transparent;
	border:1px solid var(--purple);
	color:var(--purple);
}

.color-button {
	background-color:var(--purple);
	border:1px solid var(--purple);
}

.butt.outline-button {
	background-color:var(--text-color);
}

