:root {
  --color-one: #fdb827;
  --color-two: #542583;
}

@font-face {
    font-family: 'Marker';
    src: url('../assets/PermanentMarker-Regular.ttf') format('truetype');
}

/*main, footer {visibility:hidden;}*/

* {margin:0px;padding:0px;}
img, h1 {width:100%;}
body {overflow-x:hidden;}

header {
	background-image:url("https://noorinstituteoftechnology.github.io/assets/Pictures/headerBG.jpg");
background-size:cover;height:100vh;width:100vw;color:white;display:flex;flex-flow:column nowrap;position:fixed;top:0px;left:0px;justify-content:space-between;align-items:center;}
#topToolBar {height:1.5vh;padding:10px;display:flex;flex-flow:row nowrap;justify-content:space-between;width:98vw;}
#topToolBar > a {font-size:1.5vh;}
/*header > h1 {color:#542583;font-size:2.5rem;background-color:#fdb827;height:20vh;vertical-align:middle;line-height:20vh;text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;font-style:oblique 10deg;text-align:center;}*/
header > h1 {
	color:#542583;
	font-size:4rem;
	background-color:#fdb827;
	height:20vh;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:center;
	border-radius:50%;
	width:20vh;
	border:5px solid white;
	white-space:normal;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	font-style:oblique 10deg;
	text-align:center;
	line-height:40px;
	padding:30px;
	}
header > h2 {font-size:1.4rem;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;font-style:oblique 10deg;color:yellow;transform:rotate(-8deg);text-align:center;}
#newsStrips {margin-bottom:20vh;}
#newsStrips > marquee {font-size:3vh;margin-top:10px;}
#news {background-color:#df1919;}
#courseNews {background-color:#efdf19;color:#191919;}

main {background-image:url("https://noorinstituteoftechnology.github.io/assets/mainBG.svg");background-size:cover;
	height:800vh;width:100%;color:white;display:flex;flex-flow:column nowrap;position:relative;top:60vh;align-items:center;justify-content:space-between;padding:50vh 0px 50vh 0px;}
main > section {width:90vw;color:white;display:flex;flex-flow:column nowrap;justify-content:space-between;align-items:center;height:80vh;}
main > section > h1 {font-size:1.8rem;text-align:center;width:100vw;margin:10px;}
main > section > h2 {font-size:1.2rem;color:#bfbfbf;text-align:center;width:90vw;}
main > section > p {font-size:1;text-align:center;}
.gallery {display:flex;flex-flow:row wrap;gap:1px;list-style:none;overflow-y:scroll;height:100%vh;background-color:#292929;border-radius:50px 10px;}
.gallery > li {flex-grow:1;height:33vh;position:relative;cursor: pointer;}
.gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery::after {
  content: "";
  flex-grow:999;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery li:hover .overlay {
  transform: scale(1);
}
hr {width:100%;}

footer {background-image:url("https://noorinstituteoftechnology.github.io/assets/footerBG.svg");background-size:cover;height:80vh;color:white;display:flex;flex-flow:row nowrap;position:relative;top:25vh;justify-content:space-around;color:#dfdfdf;filter:drop-shadow(-1px 0px 1px white);}
footer > * {margin-top:50vh;margin-left:2vw;margin-right:2vw;}

#introSection > h2 {transform:rotate(-90deg)translateX(-30vh)translateY(-35vw);}
#introSection > .red-vert-bar {transform:rotate(-90deg)translateX(-30vh)translateY(-25vw);width:50vh;border:1px solid red;}
#introList {
	width:85%;
	height:100%;
	margin:5vh 0px 5vh 0px;
	list-style:none;
}
#introList > li {margin-left:20vw;cursor:pointer;}
#introList > li:hover {color:#ff0030;}
#introList > li > details > p {font-size:1rem;color:#dfdfdf;text-indent:3vw;margin-left:6vw;}
#introList > li > details[open] {font-size:1.5em;color:blue;filter:hue-rotate(90deg);}

.red {color:red;}
.yellow {color:yellow;}
.magenta {color:magenta;}
.green {color:green;}
.blue {color:blue;}
.purple {color:purple;}
.pink {color:pink;}
.green-90 {color:#df5f00;}
.cyan {color:cyan;}

#topToolBar > a {text-decoration:none;color:white;}

/* CSS animation for easing in left to right Courtesy: https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal -> Felipe Saldanha */
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

