:root {
  	--purple: #542583;
	--gold: #fdb827;
	--header-color:white;
	--nav-color:#542583;
	--footer-color:#193549;	
	--main-color:white;
	--color-two:#00a9a9;
	--color-two-invert:#ff5656;
	--color-two-grad:#af5656;
	--text-color:white;
	--light-mode-text:white;
	--dark-mode-text:black;
	--logo-text-color:#191919;
	--header-text-color:#494949;
	--dark-mode-bg:#191919;
	--light-mode-bg:white;
	--universal-padding:100px;
}

body {
	background-color:white;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
}

footer {
	box-shadow:0px -10px 100px #494949;
	width:100vw;
	padding:100px;
	min-height:50px;
	background-color:var(--purple);
	color:white;
}

footer > hr {
	margin:0px;
	width:80%;
}

footer > p {
	width: 60%;
	font-family:sans serif;
}

