main {
	min-height:80vh;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:stretch;
	margin-top:0px;
}

main > section {
	flex:1;
	max-height:80vh;
	overflow:scroll;
	border:1px solid #dfdfdf;
}

#codeBox {
	flex:2;
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
	justify-content:flex-start;
}

#codeBox > .window {
	flex:1;
	border:1px inset #dfdfdf;
	overflow:scroll;
}

#codeBox > .tool-bar {
	padding:5px 10px;
	font-size:12pt;
	color:#dfdfdf;
	background-color:#191919;
}

#codeBox > .tool-bar > .title {
	
}

.code-editor {
	font-family:monospace;
	font-size:14pt;
}

.head {
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	padding:10px;
}
.body {
	min-height:100%;
	padding:20px;
}

.head > * {
	filter:invert(20%);
	font-weight:bold;
}

.head > img {
	width:25px;
}

.lesson-item {
	border:1px solid #dfdfdf;
	padding:10px;
	font-weight:bold;
}

.lesson-item:hover {
	filter:invert(50%);
	cursor:pointer;
}

